.greyText {
	color: #8e8e8e;
  font-size: 12px;
}

.userBar {
  display: flex;
  justify-content: flex-start;
  height: 80px;
}

.profileImage {
  width: 56px;
  height: 56px;
  margin-right: 3%;
  border-radius: 50%;
}

.link {
  font-size: 12px;
  text-decoration: none;
  color: #0095f6;
  font-family: 'Segoe UI Bold';
}

.userNames {
  width: 80%
}

.suggestedFollower {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.followSuggestionsHeader {
  margin-top: 5px;
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
}

.followProfileImage {
  width: 32px;
  margin-right: 8px;
  border-radius: 50%;
  height: 32px;
}

.followUserNames {
	width: 80%;
}

.linksAdditionalInfo {
  margin-top: 32px;
  color: #c7c7c7;
  font-size: 12px;
	display: flex;
	flex-wrap: wrap
}

.altText {
  margin-top: 16px;
  color: #c7c7c7;
  font-size: 12px;
}
