body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    background-color: #fafafa;
}

.sidebar {
    width: 319px;
    margin-top: 106px;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    
}

.infinite_list {
    margin-right: 32px;
    margin-top: 90px;

}

.main_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0 auto;
    justify-content: center;
}